[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-storages = "*"
django = "*"
boto = "*"
django-cors-headers = "*"
graphene-django = "*"
zappa-django-utils = "*"

[dev-packages]
zappa = "*"
django-extensions = "*"
ipdb = "*"

[requires]
python_version = "3.6"
